body{
    overflow-x: hidden;
}
/*nav.navbar.navbar-inverse.menu {*/
    /*background-color: #1AB88A;*/
    /*border: none;*/
    /*!*position: fixed;*!*/
    /*!*width:100%;*!*/
/*}*/
nav.navbar.navbar-inverse.navbar-fixed-top.menu{
    background-color: #1AB88A;
    border: none;
}

.navbar-brand.home, .navbar-inverse .navbar-nav>li>a{
    color:white;
    font-weight: bold;
}


.keyword{
    font-family: 'Pacifico', cursive;
    font-size: 200px;
    margin-top: 3%;
}
.keyword, .text-upperButton{
    text-align: center;
    margin-top: 4%;

}
.Intro{
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    margin-left: 18%;
    margin-top: 6%;
    font-style: italic;
}
button.btn.btn-primary.btn-lg.textUs {
    background-color: #01A0C7;
    border: 0px;
    margin: 0px;
}
img.butler {
    height: 76px;
    width: auto;
}
.SMS {
    color: #1AB88A;
    font-weight: bold;
    font-size: 34px;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}


.textUs, .number{
    display: inline-block;
}
.col-lg-2.number {
    height: 46px;
    text-align: right;
    font-size: 30px;
    color:#01A0C7;
    padding: 0px;
}
img.tchat {
    height: 46px;
    width: auto;
}

.row.send-button {
    margin-top: 8%;
    margin-left: 6%;
    font-size: 21px;
    text-align: center;
    margin-bottom: 2%;
}

.row.process {
    text-align: center;
    background-color: #01A0C7;
    padding-top: 40px;
    margin-top: 5%;

}

.steps {
    font-family: "Calibri Light";
    font-weight: bold;
    font-size:44px;
    font-weight:100;
    color: white;
    padding-top: 35px;
}

.stepsSmall{
    color: white;
    font-size: 20px;
}

/*.iPhone {*/
    /*height: 1000px;*/
    /*padding-left: 1100px;*/
    /*padding-top: 100px;*/

/*}*/

/*.iphone.txt {*/
    /*font-size: 500px;*/
    /*font-weight: bold;*/

/*}*/

/*.col-lg-4.butler {*/
    /*font-family: "Calibri";*/
    /*text-align: center;*/
    /*padding-top: 15%;*/
    /*font-size: 100px;*/
    /*color: #1AB88A;*/
/*}*/

.pricing.leftBox {
    border-radius: 25px;
    background: #fff;
    box-sizing: border-box;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 4%;
    padding-bottom: 1%;
    margin-left: -1%;

}

.pricing.rightBox {
    border-radius: 25px;
    background: #fff;
    box-sizing: border-box;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 7%;
    margin-left: 2%;
    padding-bottom: 1%;

}

/*.title{*/
    /*font-family: Arial;*/
    /*font-size: 50px;*/
    /*color: black;*/
    /*text-align: center;*/
    /*font-family: inherit;*/
    /*padding-top: 15px;*/
/*}*/

img.Superman {
    height: 94px;
    width: auto;
}
img.Cellphone {
    height: 67px;
    width: auto;

}
img.Relax {
    height: 85px;
    width: auto;
}
.text-superman {
    padding-top: 1%;
    font-family: Calibri light;
    font-weight: bold;
    font-size: 30px;

}

.text-cellphone {
    font-size: 30px;
    padding-top: 1%;
    font-family: Calibri light;
    font-weight: bold;

}

.text-relax {
    font-size: 30px;
    padding-top: 2%;
    font-family: Calibri light;
    font-weight: bold;

}

.row.cellphone-logo {
    padding-bottom: 3%;
    padding-top: 2%;
}
.How-it-works {
    margin-bottom: 3%;
    margin-top: 3%;
}

.navbar-nav>li>a.nav-color,
.navbar-inverse .navbar-brand.nav-color{
    color: white;
}
.navbar-inverse .navbar-nav>li>a.nav-color:focus, .navbar-inverse .navbar-nav>li>a.nav-color:hover{
    color: pink;
}

.title.time-use {
    font-family: "Calibri light";
    font-size: 56px;
}

.price {
    font-family: Calibri;
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    padding-top: 5px;
    display: inline-block;
}

.priceLength {
    font-family: "Calibri Light";
    font-size: 30px;
    padding-top: 5px;
    display: inline-block;
}

/*.details {*/
    /*text-align: center;*/
    /*font-size: 35px;*/
/*}*/

.details {
    font-family: "Calibri Light";
    font-size: 32px;
    line-height: 65px;
    padding-top: 5px;
}

.btn{
    width: 200px;
    display: inline-block;
    padding: 9px 15px;
    font-size: 28px;
    font-weight: 400;
    margin-top: 30px;
}

.btn-success {
    color: #fff;
    background-color: #01A0C7;
    border-color: #01A0C7;
}

.btn-success:hover {
    color: #fff;
    background-color: #1AB88A;
    border-color: #1AB88A;
}

/*.buy {*/
    /*height: 30px;*/
    /*width: auto;*/
/*}*/

.coverPhoto {
    background-image: url("./images/hotel-pool.jpeg");
    width: auto;
    background-size: cover;
    background-position: center;
}

.video{
    text-align: center;
    height: 653px;
}
.our-video{
    height: 400px;
}
.videoTxt {
    font-size: 70px;
    font-family: 'Pacifico', cursive;
    font-style: italic;
    margin-bottom:5%;
    margin-top: 6%;
}

.faq {
    text-align: center;
    background-color: #1AB88A;
    padding-top:2%;
    margin-top: 6%;
    padding-bottom: 2%;
    margin-bottom: 6%;

}

.faqTitle {
    font-family: Calibri;
    color: white;
    text-align: center;
    font-size: 75px;
    font-weight: bold;


}

.faq ul{
    margin: auto;
    display: inline-block;
}

.faqTxt {
    font-family: "Calibri light";
    font-size: 36px;
    color: white;
    text-align: left;
    line-height: 60px;
}



.faqTxt a{
    color: white;
}

