.keyword{
    font-family: 'Pacifico', cursive;
    font-size: 130px;
    margin-top: 3%;
}
.keyword, .text-upperButton{
    text-align: center;
    margin-top: 4%;

}
.Intro{
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    margin-left: 18%;
    margin-top: 3%;
    font-style: italic;
}
.textUs{

}
.textUs, .number{
    display: inline-block;
}
.col-lg-2.number {
    height: 46px;
    text-align: center;
    font-size: 30px;
    color:#286090;
    padding: 0px;
}

.row.send-button {
    margin-top: 8%;
    margin-left: 10%;
    font-size: 21px;
}
